@model AgroTechApp.Models.DB.Gasto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gasto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animal.AnimalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finca.FincaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Insumo.InsumoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Potrero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Potrero.PotreroId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RubroGasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RubroGasto.RubroGastoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GastoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
